<div class="flex flex-col gap-5">
  <div class="flex flex-row justify-between items-center styleBorderSolidLite border-b-2 !rounded-none pb-2">
    <div class="flex flex-col gap-x-5">
      <div class="flex flex-row gap-x-2 items-end">
        <span>Name script:</span>
        <span class="font-bold text-xl">{{nameScript}}</span>
      </div>
      <div class="flex flex-row gap-x-2 items-end">
        <span>Script for:</span>
        <span class="font-bold text-xl">{{appInfo?.exe_file}}</span>
      </div>
    </div>
    <div class="flex flex-col ">
      <span>Status script</span>
      <span class="font-bold text-xl" [ngClass]="[status == 'Running' ? 'text-green-700 dark:text-green-500' : status == 'Wait' ? 'text-yellow-500 dark:text-yellow-300' : 'text-red-700 dark:text-red-500']">{{status}}</span>
    </div>
    <div class="flex flex-row gap-x-3">
      <button class="styleBut" (click)="start()">
        <ion-icon name="play-outline" class="!text-2xl" />
        <span>Start</span>
      </button>
      <button class="styleBut" (click)="stop()">
        <ion-icon name="stop-outline" class="!text-2xl" />
        <span>Stop</span>
      </button>
    </div>
  </div>

  <div class="flex flex-col gap-y-3">
    <span class="text-3xl">Log</span>

    @if (loggerData.length > 0) {
      <table>
        <thead>
          <tr>
            <th class="styleTD">#</th>
            <th class="styleTD">Time</th>
            <th class="styleTD">Message</th>
          </tr>
        </thead>
        <tbody>
          @for (record of loggerData; track record; let i = $index) {
            <tr>
              <td class="styleTD px-3">{{i+1}}</td>
              <td class="styleTD px-3">{{record.time}}</td>
              <td class="styleTD px-3" [ngClass]="record.status == 'success' ? 'text-green-700 dark:text-green-500' : 'text-red-700 dark:text-red-500'">{{record.text}}</td>
            </tr>
          }
        </tbody>
      </table>
    }

    @if (loggerData.length == 0) {
      <div class="flex flex-col items-center p-3 styleBorderSolidLite border">
        <span class="text-3xl">No data</span>
      </div>
    }
  </div>
</div>

<app-window-notify
  [dataNotify]="dataNotify">
</app-window-notify>